<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
</head>
<body>
	<section class="mt-5 pt-4 mb-3">
		<div class="card mr-5 card shadow-lg rounded-3 p-4 " style="border-radius: 1rem;">
			<div class="card-body">
				<h1 class="text-center">My Contacts</h1>
				
				<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert ml-5 mr-5" role="alert">
					<p class="text-center" th:text="${session.message.message}"></p>
				
				</div>
				
				<div class="search-container my-3">
					<input onkeyup="search()" id ="search-input" type="text" class="form-control" placeholder="search contacts.." />
				
					<div class="search-result">
						<!-- result goes here -->
						<h1>this is my result</h1>
					</div>
				</div>
				
				<div class="table-responsive">
				<table class="table table-hover mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Work</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
      <th scope="row" th:text="'SCM/'+${c.cid}"></th>
      <td> <img src="" class="contact_profile" th:src="@{'/img/'+${c.image}}" alt="null" /> <span th:text="${c.name}"></span></td>
      <td ><a href="" th:href="@{'/user/'+${c.cid}+'/contact'}"><span th:text="${c.email}"></span></a></td>
      <td th:text="${c.phone}"></td>
      <td th:text="${c.work}"></td>
      <td>
  <div style="display: flex; align-items: center; gap: 10px;">
    <form method="post" th:action="@{'/user/editcontact/' + ${c.cid}}" style="margin: 0;">
      <button type="submit" style="background: none; border: none; padding: 0;">
        <i class="fa fa-pen-nib text-primary" aria-hidden="true"></i>
      </button>
    </form>

    <a th:href="@{'/user/delete/' + ${c.cid}}">
      <i class="fa fa-trash text-danger" aria-hidden="true"></i>
    </a>
  </div>
</td>

    </tr>
   
  </tbody>
</table>
</div>

<!-- Pagination -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li th:if="${currentPage != 0}" class="page-item">
      <a th:href="@{'/user/showcontacts/'+${currentPage-1}}" class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showcontacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
    <li th:if="${currentPage+1 != totalPages}" class="page-item">
      <a th:href="@{'/user/showcontacts/'+${currentPage+1}}" class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>


			</div>
		</div>
		
	
	</section>
	
	
</body>
</html>


