<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
</head>
<body>
	<section class="container mt-5 pt-4 mb-3">
  <div class="card shadow-lg rounded-3 p-4 text-center " style="border-radius: 1rem;">
    <img src="/img/logo3.png" alt="Logo" style="max-width: 120px;" class="mx-auto d-block mb-3">
    <h2 class="mb-3">Hey <span th:text="${user.name}"></span>,Welcome to Smart Contact Manager</h2>
    <p class="lead">Start managing your contacts with ease. Add, update, and delete contacts as needed.</p>
    <a th:href="@{/user/addcontact}" class="btn btn-outline-primary mt-3 px-4 py-2">
      <i class="fa fa-plus me-2"></i> Add New Contact
    </a>
  </div>
</section>

	
	
</body>
</html>


